<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="3;url=/login" />
    <title>404 - Page Not Found | GoShop</title>

    <link rel="stylesheet" href="/static/css/404-styles.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="logo">GoShop</div>
      </div>
    </header>

    <main class="notfound">
      <div class="card">
        <div class="code">401</div>
        <div class="title">Login Failed</div>
        <div class="description">
          User credentials are wrong, please try again via clicking button
          below! You will be redirected to login in 3 seconds..
        </div>

        <div class="actions">
          <a href="/login" class="btn btn-primary">Go to Login</a>
        </div>
      </div>
    </main>
  </body>
</html>
