<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="3;url=/" />
    <title>404 - Page Not Found | GoShop</title>

    <link rel="stylesheet" href="/static/css/404-styles.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="logo">GoShop</div>
      </div>
    </header>

    <main class="notfound">
      <div class="card">
        <div class="code">404</div>
        <div class="title">Page Not Found</div>
        <div class="description">
          The page you are looking for might have been removed, had its name
          changed, or is temporarily unavailable. You will be redirected to
          login in 3 seconds..
        </div>

        <div class="actions">
          <a href="/" class="btn btn-primary">Go to Homepage</a>
        </div>
      </div>
    </main>
  </body>
</html>
