<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="3;url=/" />
    <title>GoShop</title>

    <link rel="stylesheet" href="/static/css/404-styles.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="logo">GoShop</div>
      </div>
    </header>

    <main class="notfound">
      <div class="card">
        <div class="code">Bye</div>
        <div class="title">Logout Success</div>
        <div class="description">
          You will be redirected to homepage in 3 seconds..
        </div>
      </div>
    </main>
  </body>
</html>
